<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".././styles/style.css">
    <title>Vagas.com</title>
</head>
<body>
    <header>
        <span class="nav-link">
            <a href="index.html">Inicio</a>
        </span> 

        <span class="nav-link">
            <a href="vagas.html">Vagas</a>
        </span>

        <span class="nav-link">
            <a href="contato.html">Contato</a>
        </span>
        <span class="nav-link">
            <a href="sobre.html">Sobre</a>
        </span>
    </header>
    
    <main class="corpo">
        
        <div class="content">
            <div class="postagem">
              <h2 class="post-titulo">Sobre  </h2>
             <div class="post-container">
                <!-- <img class="post-img" src="" alt="img"> -->
              <div class="post-text">
                        <h4>Descrição da vaga</h4>
                            <p>Atendente de Loja</p>
                        <h5>Requisitos</h5>
                        <ul>
                            <li>Desejável experiência na área de atendimento ao cliente</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>


              </div>
             </div>
            </div>  

        </div>
        <div class="content">
            <div class="postagem">
              <h2 class="post-titulo">Sobre  </h2>
             <div class="post-container">
                <!-- <img class="post-img" src="" alt="img"> -->
              <div class="post-text">
                        <h4>Descrição da vaga</h4>
                            <p>Atendente de Loja</p>
                        <h5>Requisitos</h5>
                        <ul>
                            <li>Desejável experiência na área de atendimento ao cliente</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>


              </div>
             </div>
            </div>  

        </div>
        <div class="content">
            <div class="postagem">
              <h2 class="post-titulo">Sobre  </h2>
             <div class="post-container">
                <!-- <img class="post-img" src="" alt="img"> -->
              <div class="post-text">
                        <h4>Descrição da vaga</h4>
                            <p>Atendente de Loja</p>
                        <h5>Requisitos</h5>
                        <ul>
                            <li>Desejável experiência na área de atendimento ao cliente</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>


              </div>
             </div>
            </div>  

        </div>
    </main>
    

    



    <script src="../../../index.js"></script>
</body>
</html>