<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".././styles/style.css">
    <title>Vagas.com</title>
</head>
<body>
    <header>
        <span class="nav-link">
            <a href="../../../index.html">Inicio</a>
        </span> 


    </header>

    <main class="corpo">
        <div class="content">
           <card class="form" >

            <label for="">Titulo</label>
            <input class="f1" type="text" name="titulo" id="input_titulo">

            <label for="">Imagem</label>
            <input class="f1" type="" name="titulo" id="input_img">

            <label for="">Requisitos</label>
            <input class="f1" type="text" name="titulo" id="input_requisitos">

            <label for="">Função</label>
            <input class="f1" type="text" name="titulo" id="input_funcao">

            <label for="">Descrição</label>
            <input class="f1" type="text" name="titulo" id="input_descricao">

            <label for="">Cidade</label>
            <input class="f1" type="text" name="titulo" id="input_cidade">
            
            



            <span class="nav-link">
                <button id="btnVaga" class="vaga" >Enviar Vaga</button>
            </span>
           </card>
           <div id="recebe"> 
               <table border="1">
                   <thead >
                       <th>ID</th>
                       <th>Titulo</th>
                       <th>Requisitos</th>
                       <th>Função</th>
                       <th>Descrição</th>
                       <th>Cidade</th>
                   </thead>
                   <tbody id="tbody">
                    <tr>

                        <td class="center">1</td>
                        <td>Nova vaga</td>
                        <td>nada ainda</td>
                        <td>nenhuma ainda</td>
                        <td>tudo a fazer</td>
                        <td>Brasilia</td>

                    </tr>    
                    
                   </tbody>
               </table>
           </div>

           <footer>
           </footer>
        </div>  

        

    </main>
    

    



    <script src="../../../index.js"></script>
</body>
</html>