<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".././styles/style.css">
    <title>Vagas.com</title>
</head>
<body>
    <header>
        <span class="nav-link">
            <a href="../../../index.html">Inicio</a>
        </span> 


    </header>

    <main class="corpo">
        <div class="content">
           <form class="form" action="">

            <label for="">Titulo</label>
            <input class="f1" type="text" name="titulo" id="input_post">

            <label for="">Imagem</label>
            <input class="f1" type="" name="titulo" id="input_img">

            <label for="">Requisitos</label>
            <input class="f1" type="text" name="titulo" id="input_requisitos">

            <label for="">Função</label>
            <input class="f1" type="text" name="titulo" id="input_funcao">

            <label for="">Descrição</label>
            <input class="f1" type="text" name="titulo" id="input_descricao">

            <label for="">Cidade</label>
            <input class="f1" type="text" name="titulo" id="input_cidade">
            
            



            <span class="nav-link">
                <button id="btn_vaga" class="vaga">Enviar Vaga</button>
            </span>
           </form>

           <footer>
        
           </footer>
        </div>  

        

    </main>
    

    



    <script src="../../../index.js"></script>
</body>
</html>