<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".././styles/style.css">
    <title>Vagas.com</title>
</head>
<body>
    <header>
        <span class="nav-link">
            <a href="../../../index.html">Inicio</a>
        </span> 

        <span class="nav-link">
            <a href="vagas.html">Vagas</a>
        </span>

        <span class="nav-link">
            <a href="contato.html">Contato</a>
        </span> 
       
    </header>
    <a id="btn_link" href="novaVaga.html">Nova Vaga</a>
    <main class="corpo">
        <div class="content">
        
           
            <div id="post" class=" card post-vagas">
                <img class=" face frente" src="../../../src/img/img6.jpg" alt="img teste">

                <h2 id="title_post"    class="post-titulo">Motorista</h2>
               <div id="dados" class=" face verso">
                  
                <div id="post_requisitos" class="post-text">Requisitos
                    <p>Experiêcia na área <br> ensino fundamental completo <br> cnh D</p>
                </div> 

                <div id="post_funcao" class="post-text">Funções
                    <p>Transportar cargas e podutos para um determinado destino,
                         realizando as rotas de acordo com pedidos dos clientes
                        irá inspecionar as codiçoes do veiulo, como
                    eletrica, pneus, mecãnica e abastecimento de combustivel</p>
                </div>

                <div id="post_descricao" class="post-text">Descrição
                    <p>de segunda a sexta <br> horario a combinar <br> enviar curriculo para rh-soucoes@outook.com</p>
                </div>

                <div id="post_cidade" class="post-text">Cidade
                    <p>Varginha</p>
                </div>
  
               </div>
             
            </div>

            <div id="post" class="card post-vagas">
                <img class=" face frente" src="../../../src/img/img4.jpg" alt="img teste">
                <h2 id="title_post"    class="post-titulo">Mecanico de manutenção</h2>

               <div id="dados" class=" face verso">
                  
                <div id="post_requisitos" class="post-text">Requisitos
                    <p>A Stefany e loca</p>
                </div> 
                <div id="post_funcao" class="post-text">Funções
                    <p>A  Stefany ainda e Loca</p>
                </div>
                <div id="post_descricao" class="post-text">Descrição
                    <p>A stefany sempre sera Loca</p>
                </div>
                <div id="post_cidade" class="post-text">Cidade
                    <p>Loca por loca  ela ainda e Loca</p>
                </div>
  
               </div>
             
            </div>  

             
            </div>  
        </div>
    </div>  
    </main>
    

    



    <script src="../../../index.js"></script>
</body>
</html>