*{
    padding: 0;
    box-sizing: border-box;
    margin:4px 0;
    background-color: rgb(255, 254, 254);
    
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial black;
    height: 44px;
    width: auto;
    margin: 0  ;
    background-color: rgb(46, 45, 45);
   
}
header .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(32, 197, 197, 0);
    width: 100px;
    height: 40px;
    border-radius: 60px;
    gap: 16px;
}
header .nav-link:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(43, 32, 197);
    width: 120px;
    height: 30px;
    border-radius: 60px;
    gap: 16px;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;
    
}

header .nav-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: inherit;
    color: aliceblue;
    text-decoration-line: none;
    margin: 0 14px;
   
}
/*Cabeçalho ---------------------------------------------------------------------*/
/* Corpo principal main-------------------------------------------------------------- */
.corpo{
    display: flex;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;
    height: 100vh;

    
}
/* .corpo .content{  
    margin: 6px 2px;
    width: 200px;
    height: 370px;
    border-radius: 4px;
    
} */
/* .corpo .content .postagem{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px #4603e0;
    border-radius: 4px;
    margin: 0 12px;
    justify-items: center;   
    width: 200px;
    height: 295px;
} */
/* .corpo .content .postagem .post-titulo{
    width: auto;
    font-size: 14px;
    text-align: center;
    background-color: #8251f5;
    box-shadow: 1px 2px 5px #4603e0;
    color: aliceblue;
    margin-top: 0;
    border-radius: 4px;
    padding: 0;   
} */
/* .corpo .content .postagem .post-container{
    display: flex;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;
    align-items: center;   
    width: 100%   
} */
/* .corpo .content .postagem .post-container img{
    justify-content: center;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;   
    position: relative;
} */
/* .corpo .content .postagem .post-img{
    align-items: center;
    height: 220px;
    width: 160px; 
    background-color: #f8f8f8;    
} */
/* .post-text{
    display: none;
} */




