*{
    padding: 0;
    box-sizing: border-box;
    margin:4px 0;
    background-color: rgb(255, 254, 254);
    
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial black;
    height: 44px;
    width: auto;
    margin: 0  ;
    background-color: rgb(46, 45, 45);
   
}
header .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(32, 197, 197, 0);
    width: 120px;
    height: 40px;
    border-radius: 60px;
    gap: 16px;
}
header .nav-link:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(43, 32, 197);
    width: 120px;
    height: 30px;
    border-radius: 60px;
    gap: 16px;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;
    
}

header .nav-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: inherit;
    color: aliceblue;
    text-decoration-line: none;
    margin: 0 14px;
   
}
.corpo .content .form .nav-link #btnVaga{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #593ac7;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    margin: 0 14px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 40px #6453a1,
    -2px -2px 50px;
    font-family: Arial black;
    width: 150px;
    height: 25px;
    
   
}
.corpo .content .form .nav-link #btnVaga:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #321a8b;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    margin: 0 14px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 40px #6453a1,
    -2px -2px 50px;
    font-family: Arial black;
    width: 150px;
    height: 25px;
    
   
}
#btn_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #593ac7;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    margin: 4px 14px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px#6453a1,
    -2px -2px 5px;
    font-family: Arial black;
    width: 160px;
    height: 25px;
    
   
}
#btn_link:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #321a8b;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    margin: 4px 14px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px#6453a1,
    -2px -2px 5px;
    font-family: Arial black;
    width: 160px;
    height: 25px;
    
   
}
/*Cabeçalho ---------------------------------------------------------------------*/
/* Corpo principal main-------------------------------------------------------------- */

.corpo{
   display: flex;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #8251f5,
    -2px -2px 3px #892fff;
    

    
}
.corpo .content{
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-wrap: nowrap;
}
.corpo .content .card{
    width: 360px;
    height: 600px;  
    min-height: 569px;
    box-shadow: 2px 2px 5px #d4cece,
    -2px -2px 3px #c1bcc7;  
  
}

.card:hover{
    transition: all 890ms ease;
    transform-style: preserve-3d;
    transform: rotatey(180deg);
}
.face{
    width: 360px;
    height: 569px;
    position: absolute;
    background-size: cover;
    background-position: center;

}
.frente{
    border-radius: 7px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    margin-top: 0px;
    
}

img{
    width: 360px;
    height: 569px;
    border-radius: 7px;
}
.post-text{
    margin-top: 40px;
}
   
    


.selecionado{
    background-color: #38363f;
    color: #f8f8f8;  
}
/* Pagina  novas vags inputs---------------------------------------------------------------- */
.corpo .content .form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 700px;
    

}

.corpo .content .form .f1 {
border: none;
padding: 10px;
background-color: #6453a1;
margin-top: 10px;
color: #f8f8f8;
width: 320px;
text-transform: uppercase;
}

#recebe{
    display: flex;
    background-color: #c0b3ec;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 0;

}
#recebe table{
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow:1px 1px 4px, -1px -1px 4px #38363f;
    border: solid #dac6c6;
}
.center{
    text-align: center;
}

#recebe table thead th{
    background-color: #9892af;
}

